<!-- views/index.ejs -->

<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Auhtentication For Various Platforms</h1>

        <p>Login or Register with:</p>

        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        
        <a href="/auth/linkedin" class="btn btn-primary"><span class="fa fa-linkedin"></span> LinkedIn</a>
        
        <a href="/auth/tumblr" class="btn btn-primary"><span class="fa fa-tumblr"></span> Tumblr</a>
        
        <a href="/auth/pinterest" class="btn btn-primary"><span class="fa fa-pinterest"></span> Pinterest</a>
        
        <a href="/auth/wordpress" class="btn btn-primary"><span class="fa fa-wordpress"></span> Wordpress</a>

    </div>

</div>
</body>
</html>   
